<div class="modal-dialog">
  <div class="modal-content">
    <%= form_for @nav_link do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Navigation Link</h4>
      </div>
      <div class="modal-body">
        <% if flash.present? %>
          <label class="label label-danger active_error"><%= flash[:alert] %></label>
        <% end %>
        <div class="field2 m-b">
          <%= label_tag :name, "Name", class: "col-xs-3" %>
          <%= f.text_field :name, class: "form-control col-xs-9 var_name", required: true, id: "edit_name" %>
        </div>
        <% if @nav_link.depth == 1 %>
          <div class="field2 m-b parent-div">
            <%= label_tag :parent_id, "Parent", class: "col-xs-3" %>
            <%= f.select :parent_id, options_from_collection_for_select(@parents, 'id', 'name', @nav_link.parent_id), {include_blank: false}, class: "form-control col-xs-9 var_name", id: "select_parent" %>
          </div>
        <% else %>
          <%= f.hidden_field :parent_id, value: @nav_link.parent_id %>
        <% end %>
        <%= f.hidden_field :depth, value: @nav_link.depth %>
        <div class="field2 m-b">
          <%= label_tag :url, "URL", class: "col-xs-3" %>
          <%= f.text_field :url, class: "form-control col-xs-9 var_name", required: true %>
        </div>
        <div class="field2 m-b">
          <%= label_tag :position, "Position", class: "col-xs-3" %>
          <%= f.text_field :position, class: "form-control col-xs-9 var_name", required: true %>
        </div>
        <div class="row">
          <div class="col-md-2">
            <%= label_tag :active, "Active", class: "col-xs-3" %>
          </div>
          <div class="col-md-1">
            <%= f.check_box :active, class: "active_checkbox bootstrap-switch" %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit "Submit", class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
