<% if admin_signed_in? %>
  <%= link_to "logout", destroy_admin_session_path, method: :delete %>
<% end %>
<section class="places-section">
    <div class="container">
      <div class="row">
        <!--Large Place Container-->
        <div class="main-place-container col-md-6 col-lg-6 col-sm-12 col-xs-12">
          <div class="place-content-container">
            <%= link_to '', companies_path, class: 'place-link' %>
            <%= image_tag 'image-places-brands.jpg', class: 'img-responsive', alt: 'brunch places in San Francisco' %>
            <div class="info-container">
              <div class="category-container">Best Companies</div>
              <div class="title-container">COMPANIES IN THE SYSTEM</div>
              <div class="social-container">
                <ul class="social-list">
                  <li class="share-button">
                    <a href="#"></a></li>
                  <li class="like-button">
                    <a href="#"></a>
                  </li>
                  <li class="chat-container">
                    <a href="#"></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!--End Large Place Container-->

        <!--Small places container-->
        <div class="small-places-container col-md-6 col-lg-6 col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-6 place-item">
              <div class="place-content-container">
                <%= link_to '', categories_path, class: 'place-link' %>
                <%= image_tag 'image-places-events.jpg', class: 'img-responsive', alt: 'brunch places in San Francisco' %>
                <div class="info-container">
                  <div class="category-container">Best Categories</div>
                  <div class="title-container">CATEGORIES IN THE SYSTEM</div>
                  <div class="social-container">
                    <ul class="social-list">
                      <li class="share-button"><a href="#"></a></li>
                      <li class="like-button"><a href="#"></a></li>
                      <li class="chat-container"><a href="#"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-6 place-item">
              <div class="place-content-container">
                <%= link_to '', nav_links_path, class: 'place-link' %>
                <%= image_tag 'image-places-parks.jpg', class: 'img-responsive', alt: 'brunch places in San Francisco' %>
                <div class="info-container">
                  <div class="category-container">Navigation links</div>
                  <div class="title-container">Manage links for NAV</div>
                  <div class="social-container">
                    <ul class="social-list">
                      <li class="share-button"><a href="#"></a></li>
                      <li class="like-button"><a href="#"></a></li>
                      <li class="chat-container"><a href="#"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-6 place-item">
              <div class="place-content-container">
                <%= link_to '', ranking_path('travel-agency'), class: 'place-link' %>
                <%= image_tag 'image-places-travel.jpg', class: 'img-responsive', alt: 'brunch places in San Francisco' %>
                <div class="info-container">
                  <div class="category-container">Best Services</div>
                  <div class="title-container">TOP TEN TRAVEL AGENCIES</div>
                  <div class="social-container">
                    <ul class="social-list">
                      <li class="share-button"><a href="#"></a></li>
                      <li class="like-button"><a href="#"></a></li>
                      <li class="chat-container"><a href="#"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-6 place-item">
              <div class="place-content-container">
                <%= link_to '', ranking_path('craft-breweire'), class: 'place-link' %>
                <%= image_tag 'image-places-brewery.jpg', class: 'img-responsive', alt: 'brunch places in San Francisco' %>
                <div class="info-container">
                  <div class="category-container">Best Local Brands</div>
                  <div class="title-container">TOP TEN CRAFT BREWERIES</div>
                  <div class="social-container">
                    <ul class="social-list">
                      <li class="share-button"><a href="#"></a></li>
                      <li class="like-button"><a href="#"></a></li>
                      <li class="chat-container"><a href="#"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
</section>
