
<%= form_for(category, class: 'form-horizontal') do |f| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Name:</label>
    <div class="col-sm-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div><br><br>
  <div class="form-group">
    <label class="control-label col-sm-2">keywords:</label>
    <div class="col-md-10">
      <%= f.text_field :keywords, 'data-role'=>'tagsinput', class: "form-control" %>
    </div>
  </div><br><br>
  <div class="form-group">
    <label class="control-label col-sm-2" for="images">Images:</label>
    <div class="col-sm-10">
      <%= f.file_field :images, multiple: true, class: 'form-control' %>
    </div>
  </div><br><br>
  <div class="form-group">
    <label class="control-label col-sm-2" for="featured">Featured:</label>
    <div class="col-sm-10 ">
     <%= f.check_box :featured, class: "form-control bootstrap-switch" %>
    </div>
  </div><br><br>
  <div class="modal-footer">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "Submit", :class => 'btn btn-primary' %>
      <%#= link_to 'Back',categories_path, class: "btn btn-default" %>
    </div>
  </div>
<% end %>
